body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(#6AC7BD, #0A1A44);
    background-attachment: fixed;
}
.box{
    background: linear-gradient( #6AC7BD, #4a5c88);		
	position: relative;	
    margin-top: 150px;
	height: 600px;
	width: 600px;	
	box-shadow: 0px 0px 24px #ffffff;
    border-radius: 1.2rem;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: xx-large;
    color: hsl(180, 3%, 8%) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    font-size: large;
    font-weight: 800;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.a2{
    display:grid;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 20px;
    color: #fdfdff;
    font-size: 1.2rem;
    padding: 15px 16px;
    
    border-radius: 2rem;
    background-image: linear-gradient(-135deg,#6AC7BD, #0A1A44);
}
.a2:hover{
    display:grid;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    margin-top: 250px;
    color: #d6d7da;
    font-size: 1.2rem;
    padding: 15px 16px;
    border-radius: 2rem;
    background-image: linear-gradient(13deg,#6AC7BD, #0A1A44);
}